<head>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">        
    <!-- Bootstrap icons: https://icons.getbootstrap.com/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<div class="position-relative mb-4" style="top: -20px; z-index: -1;">
      <img src="overview.png" class="img-fluid" alt="overview">
  </div>

  <div class="row mb-5">
    <div class="col-md-8 p-4">
      <!-- Welcome -->
        <h1 id="Welcome" class="mb-1" style="font-family: 'Comfortaa', cursive;">Welcome to the new Salmobase</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
            <p class="lead">
                Salmobase is currently being reconstructed. Some features are still not available and the interface is likely to undergo further changes. 
                If you are looking for the previous version of salmobase it can be found <a href="https://v2.salmobase.org">here</a>.
            </p>
        </div>

      <!-- About -->
        <h1 id="About" class="mb-1" style="font-family: 'Comfortaa', cursive;">About</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
            <p class="lead">
                Salmobase is a tool for making molecular genomic resources for salmonid species publically available in a framework of visualizations and analytic tools.
            <br><br>
                Salmonids are ray-finned fishes which constitute 11 genera and at least 70 species including Atlantic salmon, whitefishes, graylings, rainbow trout, and char. 
                The common ancestor of all Salmonidae experienced a whole genome duplication (WGD) ~80 million years ago, resulting in an autotetraploid genome. 
                Genomic rediplodization is still going on in salmonid species, providing an unique system for studying evolutionary consequences of whole genome duplication. 
                In recent years, high quality genome sequences of Atlantic salmon and Rainbow trout has been established, due to their scientific and commercial values.
            </p>
        </div>

      <!-- Feedback -->
        <h1 id="Feedback" class="mb-1" style="font-family: 'Comfortaa', cursive;">Feedback</h1>
        <div class="border-start ps-3" style="text-align: justify; border-left: 10px solid #0072BC !important;">
            <p class="lead">
                We appreciate your feedback! Please report any issues with the site or suggest a new feature or dataset you would like to see here by 
                <a href = "mailto:incoming+elixir-nmbu-salmobase-21676123-issue-@incoming.gitlab.com">sending an e-mail</a> 
            </p>
        </div>
    </div>

    <!-- Twitter -->
    <div class="col-md-4">
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/salmobase1?ref_src=twsrc%5Etfw">Tweets by salmobase1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
